section {
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 8rem 0;
}

a {
	width: fit-content;
}

.icon {
	margin-right: 0.5rem;
}
