main {
	height: 95vh;
}

section {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

a {
	width: fit-content;
}

h4 {
	margin-top: 0 !important;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

.hover:hover > h4 {
	margin-left: 1rem;
}

.icon {
	margin-left: 1rem;
}
