@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: hsl(44, 100%, 97%);
}

p,
em,
strong {
	color: rgba(0, 0, 0, 1);
}

br {
	display: block !important;
}

.capitalize {
	text-transform: capitalize;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin: auto;
	margin-top: 25vh;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spacing {
	height: 2rem;
}

tr {
	border-bottom: none;
}

li > :is(p, span, strong, div),
label {
	font-size: 16px;
}

.home {
	border-radius: 0 5px 5px 0;
	box-shadow: inset 0 0 0 0 #e20000;
	color: #e20000;
	padding: 0 0.25rem;
	margin: 0 -0.25rem;
	transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.home:hover {
	color: #fff !important;
	box-shadow: inset 200px 0 0 0 #e20000;
}

.bold {
	font-weight: bold !important;
}
