.cr {
	margin: 0 0 0 auto !important;
}

.rule {
	border: 0;
	background: linear-gradient(to right, rgb(187, 2, 2), rgba(187, 2, 2, 0));
	height: 2px;
}

h5 {
	margin-top: 0 !important;
}

h5 > strong {
	color: rgb(187, 2, 2) !important;
}

p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

th,
td {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.speed {
	display: flex;
	flex-direction: column;
}
.speed li {
	list-style-type: disc !important;
	list-style-position: inside;
}
